<h1>Add a new word</h1>

<form action="/homepage" method="post">
  <div class="form-group">
    <label for="album_name">word</label>
    <input id="n" name="word_new" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>