
.box {
  border-radius: 8px;
  margin: 15px;
  padding: 15px;
  background-color: darksalmon;
  font-family: monospace;
  border: 2px black dashed;
}

body {
  background-color: yellow;
}

h1 {
  text-align: center;
}

a {
  color: yellow;
}